@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  background-color: #fafafa;
  color: rgba(38, 38, 38, 0.7);
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
h1, h2, h3 {
  margin: 0;
  padding: 0;
}
/* Dack Mode */
.Main.dark-mode, .Main.dark-mode
    .Share, .Header-container.dark-mode, .Sidebar.dark-mode .Stories {
  background-color: #1d3040 !important;
  color: #bfc2c7;
}
.Card.dark-mode, .Main.dark-mode .Share, .Header.dark-mode
    .Header-container, .Sidebar.dark-mode .Stories {
  background-color: #1d3040 !important;
  border: 1px solid rgb(56, 68, 77) !important;
}
.Card.dark-mode h2, .Card.dark-mode h3, .Sidebar.dark-mode h2 {
  color: white !important;
}
.Card.dark-mode span, .Main.dark-mode
    .Share
    a, .Header.dark-mode, .Header.dark-mode i, .Sidebar.dark-mode
    .Stories
    span {
  color: rgb(136, 153, 166) !important;
}
.Card.dark-mode .Comments-add {
  border-top: 1px solid rgb(56, 68, 77) !important;
}
.Card.dark-mode .Comments-add input, .Card.dark-mode
    .Comments-add
    ::placeholder {
  background-color: transparent !important;
  color: rgb(136, 153, 166) !important;
}

.Card.dark-mode .Comments-add button {
  color: #02c009 !important;
}